/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2013
 * @package yii2-password
 * @version 1.0.0
 *
 * Password Strength Meter
 * Modified and built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2013
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-container {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.kv-container td {
	vertical-align: middle;
}

.kv-meter-container {
	width: 130px;
}

.kv-meter {
	text-align: center;
}

.kv-disabled {
	opacity: .65;
	cursor: not-allowed;
}

.kv-scorebar-border {
	background: none repeat scroll 0 0 #333;
	border: 1px solid #333;
	height: 16px;
	width: 100px;
	margin: 0 auto;
	border-radius: 4px;
}

.kv-scorebar {
	background-image: url(../img/bg_strength_gradient.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	width: 98px;
	height: 14px;
	z-index: 0;
	border-radius: 2px;
}

.kv-score {
	font-weight: bold;
	font-size: 75%;
	position: absolute;
	width: 98px;
	z-index: 10;
	border-radius: 2px;
}

.kv-score-0, .kv-score-1, .kv-score-5 {
	color: #fff;
}

.kv-score-2, .kv-score-3, .kv-score-4 {
	color: #333;
}

.kv-verdict {
	width: 100%;
}
